{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="content-section">
          <form method="POST">
            {% csrf_token %}  
            <fieldset class-"form-group"><!--this groups related elements in a form-->
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{form | crispy}} <!--this automatically calls for the form creation and printing-->
            </fieldset>
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
          </form>
         
      </div>
   {% endblock content %}